---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Web Developer</h2>
    <p>
      I develop full-stack Node.js web applications, e-commerce and LMS
      WordPress sites, Next and Nuxt CMS sites, Discord Bots, and iOS Apps.
    </p>
    <p>
      I've participated in the Major League Hacking Pre-Fellowship and
      WorldSkills Advanced Web Design Heat.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Technical Writer</h2>
    <p>
      I write full-stack web development tutorials about working with APIs,
      databases, and website frameworks.
    </p>
    <p>
      I've also worked on the Prismic documentation and managed Section's
      Engineering Education programme.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Educator</h2>
    <p>
      I love to help developers and non-developers to gain new skills and
      experience with difficult technologies.
    </p>
    <p>
      I worked as a Demonstrator at Robert Gordon University helping to teach
      undergraduate Computing modules.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
